<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>


<body>
<ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/create">Create a Post</a></li>
    <li><a href="#">Page Two</a></li>
    <li><a href="#">Page Three</a></li>
    <li><a href="#">Page Four</a></li>
    <li><a href="#">Page Five</a></li>
</ul>
<div id="page">
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>

  </script>
  <div id="footer">
    <p>Created by Kemi Lin, Xiaoyu Li, and Matthew McGowan &mdash; 2019
  </div>
</div>
</body>

</html>
