<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/">Home</a>
    <a href="#">Page One</a>
    <a href="#">Page Two</a>
    <a href="#">Page Three</a>
    <a href="#">Page Four</a>
    <a href="#">Page Five</a>
  </div>
</div>

<body>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>

  </script>
</body>

</html>
