<h1>Add something</h1>
<article>
  <form method="POST" action="/test/create">
    <table>
      <tr>
        <td><label>Text:</label></td>
        <td><input type="text" name="text" size="50" placeholder="Type something..."></td>
      </tr>
  </table>
    <button type="submit">Submit</button>
  </form>
</article>
