<input id="search" type="text" placeholder="Search for something!">


<div id="search_results"></div>

<div id="all">
{{#each data}}
<article>
  <p>{{this.text}}</p>
  <p class="timestamp">Posted <script>document.write(new Date({{this.time}}))</script></p>
</article>
{{else}}
<article>
  <h1>There was no data from the server.</h1>
</article>
{{/each}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js">
</script>
